@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Jost:wght@600&family=Roboto+Mono:wght@700&display=swap");

body {
  background-color: rgb(243, 243, 145);
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pokeball {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ====================== MAIN BODY ========================= */

.pokemon {
  width: 440px;
  display: grid;
  margin: 15px auto 15px auto;
  border: 3px solid rgb(32, 32, 32);
  border-radius: 25px;
  font-family: "Quicksand", sans-serif;
  background-color: rgb(235, 63, 57);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: white;
  grid-template-areas:
    "name name"
    "image image"
    "HP CP"
    "body class";
}

.pokemon:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.blue-circle {
  width: 43px;
  height: 43px;
  background-color: rgb(24, 192, 243);
  border: 2px solid white;
  border-radius: 50%;
  margin: 32px 0 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pokemon__name {
  grid-area: name;
  font-size: 35px;
  margin: -25px 0 -25px 0;
  font-family: "Roboto Mono", monospace;
  display: flex;
}

.number {
  margin-top: 47px;
  padding: 5px;
  border-radius: 15px;
  font-size: 15px;
}

.name {
  font-size: 33px;
  margin-left: 15px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.pokemon__image {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: white;
  border-top: 3px solid rgb(32, 32, 32);
  border-bottom: 3px solid rgb(32, 32, 32);
}

.pokemon__HP {
  grid-area: HP;
  margin: auto;
  margin-top: 10px;
  font-size: 22px;
  text-align: center;
}

.pokemon__CP {
  grid-area: CP;
  margin: auto;
  margin-top: 10px;
  font-size: 22px;
  text-align: center;
}

.border {
  height: 6px;
  width: 200px;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 129, 129);
  transition: 0.3;
}

.bar {
  position: relative;
  height: 6px;
  border-radius: 10px;
  background-color: rgb(102, 243, 113);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3;
}

.pokemon__body {
  grid-area: body;
  margin: 10px auto -10px auto;
  margin-top: 5px;
  text-align: center;
}

.body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 0px solid;
  border-radius: 20px;
  background-color: rgb(211, 46, 46);
  padding: 7px;
  width: 150px;
}

.pokemon__class {
  grid-area: class;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}

.class {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 0px solid;
  border-radius: 20px;
  background-color: rgb(211, 46, 46);
  padding: 7px;
  width: 150px;
  text-align: center;
}

.types {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.type {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 70px;
  height: 25px;
  padding-top: 3px;
  border: 2px solid white;
  border-radius: 20px;
  -webkit-text-stroke: 0.5px black;
}
/* ====================== MAIN BODY ========================= */
